@import "tailwindcss";

:root {
  --scrollbar-color: #4a3a2a;
  --color-skin: #f7f3eb;
  --color-skin-text: #4a3a2a;
  --color-dark: #4a3a2a;
  --color-dark-text: #fff;
  --color-dark-text-hover: #dfd1a9;
  --color-skin-text-hover: #4a3a2a80;
  --color-logo-1: #bd7e40;
}

html {
  scroll-behavior: smooth;
}

main {
  padding-top: 140px;
}

input,
textarea {
  outline: 0;
}

/* Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Optional */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color); /* Scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color); /* On hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
  transition: 0.2s ease-in-out;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1320px;
}
.text-dark {
  color: var(--color-dark);
}
.bg-skin {
  background-color: var(--color-skin);
  color: var(--color-skin-text);
  a:hover {
    color: var(--color-skin-text-hover);
  }
}
.color-logo-1 {
  color: var(--color-logo-1);
}
.button-logo-1 {
  background-color: var(--color-logo-1);
  color: white;
}
.button-1 {
  background: linear-gradient(
    90deg,
    rgba(76, 67, 49, 1) 0%,
    rgba(206, 149, 80, 1) 100%
  );
  background-size: 200% 100%;
  background-position: left center;

  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;

  transition: background-position 0.4s ease;
}

.button-1:hover {
  background-position: right center;
}


.button-logo-1:hover {
  background-color: var(--color-dark);
}
.bg-dark {
  background: #4c4331;
  background: -webkit-linear-gradient(
    90deg,
    rgba(76, 67, 49, 1) 0%,
    rgba(206, 149, 80, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(76, 67, 49, 1) 0%,
    rgba(206, 149, 80, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(76, 67, 49, 1) 0%,
    rgba(206, 149, 80, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4C4331", endColorstr="#CE9550", GradientType=1);
  color: var(--color-dark-text);
  a:hover {
    color: var(--color-dark-text-hover);
  }
}
.swiper-btn-1 .swiper-button-next,
.swiper-btn-1 .swiper-button-prev {
  color: var(--color-logo-1);
  background-color: var(--color-skin);
  border-radius: 100%;
  svg {
    width: 8px;
  }
}
.swiper-btn-1 .swiper-button-next:hover,
.swiper-btn-1 .swiper-button-prev:hover {
  background-color: var(--color-skin-text);
}
.swiper-btn-1 .swiper-button-next {
  right: 10px !important;
}
.swiper-btn-1 .swiper-button-prev {
  left: 10px !important;
}
.swiper-pgn-1 .swiper-pagination-bullet {
  background-color: var(--color-skin);
  opacity: 1;
  width: 12px;
  border-radius: 50px;
}
.swiper-pgn-1 .swiper-pagination-bullet-active {
  background-color: var(--color-logo-1);
  width: 25px;
  border-radius: 50px;
}
.heading{
  background: linear-gradient(
    90deg,
    #4C4331,
    #CE9550,
    #4C4331
  );
  background-size: 200% 100%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientFlow 3s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}