.line{
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-top: 35px;
    position: relative;
}
.line::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100px;
    height: 8px;
    background-color: #fff;
    border-radius: 40px 0 0 40px;
}
